In [3]:
import pandas as pd
df = pd.read_csv("dataset/tamil_songs.csv")
print(df.columns)
print(df.shape)
df.head()

Index(['Sno', 'Song Name', 'Movie Name', 'Lyrics'], dtype='object')
(4216, 4)

,Sno,Song Name,Movie Name,Lyrics
0,1,விளையாடா படகோட்டி,Dhoni,விளையாட்டா படகோட்டி\nவிளையாடும் பருவம் போய்\nந...
1,2,நான் யார் நீ யார்,Kudiyirundha Koyil,நான் யார் நான் யார் நீ யார்\nநாலும் தெரிந்தவர்...
2,3,கூட்டத்துலே கோவில்,Idaya Kovil,கூட்டத்துலே கோவில் புறா யாரை இங்கு தேடுதம்மா\n...
3,4,காதல் கசாட்டா,Kappal,காதல் கசாட்டா நெஞ்சில் இனிக்கூட\nபசுந்தி பார்வ...
4,5,கண்ணுக்கு குலமேது,Karnan,கண்ணுக்கு குலமேது...\n\nகண்ணுக்கு குலமேது \nகண...